!*.xml
*.iml
.idea
**/target

!Experiments
Experiments/Parallel/coreJava

SpringMongoDB/gs-accessing-mongodb-data-rest/
SpringMongoDB/spring-security-password-hashing/
SpringMongoDB/spring-security-password-hashing-annotation/
