!*.xml
*.iml
.idea
**/target/
**/DOCS/
**/test/

!Experiments
Experiments/Spring/SpringMongoBCrypt/git1

TwitterApiSender/gs-accessing-twitter/
TwitterApiSender/gs-accessing-twitter-mein/
TwitterApiSender/src/